// colors
$bg-light: var(--bg-light);
$clr-white: var(--clr-white);
$clr-black: var(--clr-black);
$clr-green: var(--clr-green);
$clr-blue: var(--clr-blue);
$clr-gray-light: var(--clr-gray-light);

// font
$font-14: var(--font-14);
$font-16: var(--font-16);
$font-24: var(--font-24);
$font-bold: var(--font-bold);